<html>
    <head>
        
        <title>Course Feedback</title>
        {% load staticfiles %}
    <link href= "{% static 'feedback/css/feedback.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'feedback/js/jq.js' %}"></script>
    <script src="{% static 'feedback/js/feedback.js' %}"></script>
    <script src="{% static 'feedback/js/Chart.js' %}"></script>

        
        <!--
            This code will manage the smooth scroll
        -->
        <script type="text/javascript">
            
            $(document).ready(function(){
                $('a[href*=#]:not([href=#])').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname)
                    {
                        var target = $(this.hash);

                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');

                        if (target.length)
                        {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1500);
                            return false;
                        }
                    }
                });
                
                // this code will check the radio button by clicking on the text on the right
                
                $("li").click(function(){
                    $(this).children().attr('checked', true);
                });
                
            });
            
            
        </script>
        
        
    </head>
    <body>
        
        
        
        
        
        
        

        

        <div id="set-of-links">
            <a href="#part-1">Design of course</a>
            <a href="#part-2">Instructor</a>
            <a href="#part-3">Tutorial/Tutor</a>
            <a href="#part-4">Exams/Grading</a>
        </div>
        
        
        
        
        <div id="header">
            <h1>Feedback</h1>
            <p>Online Course Feedback Portal</p>
        </div>
        
        
        <p id="instruction">If no response is filled, it will be considered 'neutral' by default.</p>
        
        <div id="middler">
            <form action="" method="GET">
                <ul>
                    <a name="part-1"></a>
                    {% if feedback.coursefaculty.mid_design != False%}
                    <li>
                        <h1>Design of course</h1>
                        <ol>
                            <li><label>Were objectives of the course clear to you?</label></li>
                                <ul>
                                    <li><input type="radio" name="poll11" value=5>Strongly agree<br></li>
                                    <li><input type="radio" name="poll11" value=4>Agree<br></li>
                                    <li><input type="radio" name="poll11" value=3 checked>Neutral<br></li>
                                    <li><input type="radio" name="poll11" value=2>Disagree<br></li>
                                    <li><input type="radio" name="poll11" value=1>Strongly disagree<br></li>
                                </ul>


                            <li><label>*The course content met with your expectations.</label></li>
                                <ul>
                                    <li><input type="radio" name="poll12" value=5>Strongly agree<br></li>
                                    <li><input type="radio" name="poll12" value=4>Agree<br></li>
                                    <li><input type="radio" name="poll12" value=3>Neutral<br></li>
                                    <li><input type="radio" name="poll12" value=2>Disagree<br></li>
                                    <li><input type="radio" name="poll12" value=1>Strongly disagree<br></li>
                                </ul>


                            <li><label>*The level of the course was:</label></li>
                                <ul>
                                    <li onClick="javascript:rb_too_low();"><input type="radio" name="poll13" value=1 >Too low<br></li>
                                    <li onClick="javascript:rb_intermediate();"><input type="radio" name="poll13" value=3>Intermediate<br></li>
                                    <li onClick="javascript:rb_too_high();"><input type="radio" name="poll13" value=2 data-id = "too_high_level">Too high<br></li>
                                </ul>

                                <ol type=a id="too_low_level">
                                    <li><label>Why do you think you found the level low?</label></li>
                                        <ul id="13alow">
                                            <li><input type="checkbox" name="poll13a" value="Very small syllabus">Very small syllabus</input></li>
                                            <li><input type="checkbox" name="poll13a" value="Easy exam or grading">Easy exam or grading</input></li>
                                            <li><input type="checkbox" name="poll13a" value="Quality instruction">Quality instruction</input></li>
                                            <li><label>Other: </label><input type="text" name="poll13tb"></input></li>
                                        </ul>
                                    <li><label>What topics can be added to the course to make it better?</label><br>
                                        <textarea rows="3" cols="50" name="topic_suggestion"></textarea></li>
                                    <li><label>Should there be changes in the implementation? If yes, then what?</label><br>
                                        <textarea rows="3" cols="50" name="implementation_change"></textarea></li>
                                </ol>

                                <ol type=a id="too_high_level">
                                    <li><label>Why do you think you found the level high?</label></li>
                                        <ul id="13bhigh">
                                            <li><input type="checkbox" name="poll13b" value="Very large syllabus">Very large syllabus</input></li>
                                            <li><input type="checkbox" name="poll13b" value="Tough exam or grading">Tough exam or grading</input></li>
                                            <li><input type="checkbox" name="poll13b" value="Quality instruction">Instruction not of good quality</input></li>
                                            <li><label>Other: </label><input type="text" name="poll13tb"></input></li>
                                        </ul>
                                    <li><label>What topics can be added/removed to the course to make it better</label><br>
                                        <textarea rows="3" cols="50" name="topic_suggestion"></textarea></li>
                                    <li><label>Should there be changes in the implementation? If yes, then what?</label><br>
                                        <textarea rows="3" cols="50" name="implementation_change"></textarea></li>
                                </ol>

                            <li><label>*The course content compared with your expectations:</label></li>
                                <ul>
                                    <li onClick="javascript:rb_theoretical();"><input type="radio" name="poll14" value=1>Too theoretical<br></li>
                                    <li onClick="javascript:rb_noe();"><input type="radio" name="poll14" value=3>Neutral<br></li>
                                    <li onClick="javascript:rb_noe();"><input type="radio" name="poll14" value=2>Too emperical<br></li>
                                </ul>

                                <ol type=a id="too_theoretical_expectations">
                                    <li><label>What topics need more emperical approach?</label><br>
                                        <textarea rows="3" cols="50" name="more_emperical_approach"></textarea></li>
                                    <li><label>Would a tutorial/lab session be useful?</label><br>
                                        <ul>
                                            <li><input type="radio" name="tutorial" value=1>Yes</li>
                                            <li><input type="radio" name="tutorial" value=1>No</li>
                                        </ul>
                                </ol>

                            <li><label>Prerequisites were appropriate for the course.</label></li>
                                <ul>
                                    <li><input type="radio" name="poll15" value=5>Strongly agree<br></li>
                                    <li><input type="radio" name="poll15" value=4>Agree<br></li>
                                    <li><input type="radio" name="poll15" value=3>Neutral<br></li>
                                    <li><input type="radio" name="poll15" value=2>Disagree<br></li>
                                    <li><input type="radio" name="poll15" value=1>Strongly disagree<br></li>
                                </ul>


                            <li><label>The course exposed you to new knowledge and practices.</label></li>
                                <ul>
                                    <li><input type="radio" name="poll16" value=5>Strongly agree<br></li>
                                    <li><input type="radio" name="poll16" value=4>Agree<br></li>
                                    <li><input type="radio" name="poll16" value=3>Neutral<br></li>
                                    <li><input type="radio" name="poll16" value=2>Disagree<br></li>
                                    <li><input type="radio" name="poll16" value=1>Strongly disagree<br></li>
                                </ul>

                        </ol>
                    </li>
                    {% endif %}









                    <a name="part-2"></a>
                    {% if feedback.coursefaculty.mid_instructor != False %}

                    <li>
                        <h1>Instructor</h1>

                        <ol>
                            <li>
                                <label>*Lectures were clear and easy to understand.</label>
                            </li>
                            <ul>
                                <li onClick="javascript:rb_inst_clear();"><input type="radio" name="poll21" value=5>Strongly agree<br></li>
                                <li onClick="javascript:rb_inst_clear();"><input type="radio" name="poll21" value=4>Agree<br></li>
                                <li onClick="javascript:rb_inst_clear();"><input type="radio" name="poll21" value=3>Neutral<br></li>
                                <li onClick="javascript:rb_inst_notclear();"><input type="radio" name="poll21" value=2>Disagree<br></li>
                                <li onClick="javascript:rb_inst_notclear();"><input type="radio" name="poll21" value=1>Strongly disagree<br></li>
                            </ul>

                            <ol type=a id="why_not">
                                <li>
                                    <label>Why not?</label>
                                </li>
                                <ul id="21a">
                                    <li><input type="checkbox" name="poll21a" value="accent">Accent/voice of the instructor was not clear</input></li>
                                    <li><input type="checkbox" name="poll21a" value="too fast">The teaching was too fast</input></li>
                                    <li><label>Other: </label><input type="text" name="poll21atb"></input></li>
                                </ul>
                            </ol>


                            <li>
                                <label>Adequate notes were handed out after the lecture.</label>
                            </li>
                            <ul>
                                <li><input type="radio" name="poll22" value=5>Strongly agree<br></li>
                                <li><input type="radio" name="poll22" value=4>Agree<br></li>
                                <li><input type="radio" name="poll22" value=3>Neutral<br></li>
                                <li><input type="radio" name="poll22" value=2>Disagree<br></li>
                                <li><input type="radio" name="poll22" value=1>Strongly disagree<br></li>
                            </ul>

                            <li>
                                <label>*The instructor encouraged interaction and was helpful.</label>
                            </li>
                            <ul>
                                <li><input type="radio" name="poll23" value=5>Strongly agree<br></li>
                                <li><input type="radio" name="poll23" value=4>Agree<br></li>
                                <li><input type="radio" name="poll23" value=3>Neutral<br></li>
                                <li><input type="radio" name="poll23" value=2>Disagree<br></li>
                                <li><input type="radio" name="poll23" value=1>Strongly disagree<br></li>
                            </ul>

                            <li>
                                <label>Were objectives of the course realized?</label>
                            </li>
                            <ul>
                                <li><input type="radio" name="poll24" value=2>Yes</li>
                                <li><input type="radio" name="poll24" value=0>No</li>
                            </ul>
                            <li>
                                <label>*The intructor was well prepared for the lectures.</label>
                            </li>
                            <ul>
                                <li><input type="radio" name="poll25" value=5>Strongly agree<br></li>
                                <li><input type="radio" name="poll25" value=4>Agree<br></li>
                                <li><input type="radio" name="poll25" value=3>Neutral<br></li>
                                <li><input type="radio" name="poll25" value=2>Disagree<br></li>
                                <li><input type="radio" name="poll25" value=1>Strongly disagree<br></li>
                            </ul>

                            <li>
                                <label>Classes were held on time and as per schedule.</label>
                            </li>

                            <ul>
                                <li><input type="radio" name="poll26" value=5>Strongly agree<br></li>
                                <li><input type="radio" name="poll26" value=4>Agree<br></li>
                                <li><input type="radio" name="poll26" value=3>Neutral<br></li>
                                <li><input type="radio" name="poll26" value=2>Disagree<br></li>
                                <li><input type="radio" name="poll26" value=1>Strongly disagree<br></li>
                            </ul>
                        </ol>
                    </li>
                    {% endif %}







                    <a name="part-3"></a>
                    {% if feedback.coursefaculty.mid_tutorial %}
                    
                    <li>
                        <h1>Tutorial/Tutor</h1></h1>
                        <ol>
                            <li>
                                <label>*The tutorials were helpful in clearing concepts taught in lectures.</label>
                            </li>
                            <ul>
                                <li onclick="tut_helpful()"><input type="radio" name="poll31" value=5>Strongly agree<br></li>
                                <li onclick="tut_helpful()"><input type="radio" name="poll31" value=4>Agree<br></li>
                                <li onclick="tut_helpful()"><input type="radio" name="poll31" value=3>Neutral<br></li>
                                <li onclick="tut_not_helpful()"><input type="radio" name="poll31" value=2>Disagree<br></li>
                                <li onclick="tut_not_helpful()"><input type="radio" name="poll31" value=1>Strongly disagree<br></li>
                            </ul>

                                <ol type=a id="reasons">
                                    <li><label>What could be the possible reason(s) for this?</label><br>
                                        <ul id="31reasons">
                                            <li><input type="checkbox" name="poll31a" value="Tutor was inexperienced">Tutor was inexperienced</input></li>
                                            <li><input type="checkbox" name="poll31a" value="Assignments were too easy/difficult">Assignments were too easy/difficult</input></li>
                                            <li><input type="checkbox" name="poll31a" value="Schedule of tutorial was not right">Schedule of tutorial was not right</input></li>
                                            <li><label>Other: </label><input type="text" name="poll31atb"></input></li>
                                        </ul>
                                </ol>

                            <li><label>Tutorial problems were innovative and promoted individual thinking.</label></li>
                                <ul>
                                    <li><input type="radio" name="poll32" value=5>Strongly agree<br></li>
                                    <li><input type="radio" name="poll32" value=4>Agree<br></li>
                                    <li><input type="radio" name="poll32" value=3>Neutral<br></li>
                                    <li><input type="radio" name="poll32" value=2>Disagree<br></li>
                                    <li><input type="radio" name="poll32" value=1>Strongly disagree<br></li>
                                </ul>

                            <li><label>The tutor was well prepared for the classes.</label></li>
                                <ul>
                                    <li><input type="radio" name="poll33" value=5>Strongly agree<br></li>
                                    <li><input type="radio" name="poll33" value=4>Agree<br></li>
                                    <li><input type="radio" name="poll33" value=3>Neutral<br></li>
                                    <li><input type="radio" name="poll33" value=2>Disagree<br></li>
                                    <li><input type="radio" name="poll33" value=1>Strongly disagree<br></li>
                                </ul>

                            <li><label>Tutorials were held regularly and as per schedule.</label></li>
                                <ul>
                                    <li><input type="radio" name="poll34" value=5>Strongly agree<br></li>
                                    <li><input type="radio" name="poll34" value=4>Agree<br></li>
                                    <li><input type="radio" name="poll34" value=3>Neutral<br></li>
                                    <li><input type="radio" name="poll34" value=2>Disagree<br></li>
                                    <li><input type="radio" name="poll34" value=1>Strongly disagree<br></li>
                                </ul>

                        </ol>
                        {% endif %}
                    </li>











                    <a name="part-4"></a>
                    {% if feedback.coursefaculty.mid_exam %}

                    <li>

                        <h1>Exams/Grading</h1>

                        <ol>
                            <li>
                                <label>The number of exams(quizzes/midsem/endsem) were sufficient to cover the curriculum.</label>
                            </li>
                            <ul>
                                <li><input type="radio" name="poll41" value=5>Strongly agree<br></li>
                                <li><input type="radio" name="poll41" value=4>Agree<br></li>
                                <li><input type="radio" name="poll41" value=3>Neutral<br></li>
                                <li><input type="radio" name="poll41" value=2>Disagree<br></li>
                                <li><input type="radio" name="poll41" value=1>Strongly disagree<br></li>
                            </ul>

                            <li>
                                <label>*Exams were far easier/more difficult than what was expected.</label>
                            </li>
                            <ul>
                                <li><input type="radio" name="exams" value=1>Yes</li>
                                <li><input type="radio" name="exams" value=1>No</li>
                            </ul>

                            <li>
                                <label>The kind of grading system followed (absolute/relative) was appropriate for the particular course.</label>
                            </li>
                            <ul>
                                <li><input type="radio" name="poll43" value=5>Strongly agree<br></li>
                                <li><input type="radio" name="poll43" value=4>Agree<br></li>
                                <li><input type="radio" name="poll43" value=3>Neutral<br></li>
                                <li><input type="radio" name="poll43" value=2>Disagree<br></li>
                                <li><input type="radio" name="poll43" value=1>Strongly disagree<br></li>
                            </ul>
                        </ol>

                        
                        

                        
                        {% endif %}
                    </li>

                </ul>

            </form>
        </div>

       <div style="background-color:#dcf9f7;"> 
<form action="/feedback/{{feedback.id}}/{{id}}/midsem-fillfeedback/submit/" method="post">
    {% csrf_token %}
<table style="background-color:#dcf9f7;">   
{{form}}
</table>
<button type="submit" id="target" onclick="getTotal1()">Submit</button>
</form>
        
        
        
        
        


    </body>
</html>














<!-- <html>
<head>
	<link rel="stylesheet" type="text/css" href="feedback.css">
	<script type="text/javascript" src="jq.js"></script>
	<script type="text/javascript" src="feedback.js"></script>
</head>
<body>
	<div class="rating">
	    <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
	    <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
	    <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
	    <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
	    <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
	</div>
</body>
</html> -->